<!DOCTYPE html>
<html lang="en"><head>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
  

   

	
	
    <script type="text/javascript" src="http://localhost/project/js/jquery.js"></script>


    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://localhost/project/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://localhost/project/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="http://localhost/project/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://localhost/project/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    

        <!-- Navigation -->
        

        <div id="page-wrapper">

            <div class="container">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="page-header">
                            ข้อมูลสมัครสมาชิก <small>โปรดเพิ่มข้อมูลให้ครบทุกช่อง</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class=" fa fa-lock"></i>สำหรับบุคคลที่เป็นอาสาสมัครตำบลสุเทพเท่านั้น 
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

            </div>
        </div>
                <!-- /.row -->

                

  <form role="form" method="post"  id="frame1" action="sql.php">
         <div id="page-wrapper">

            <div class="container">
		 		
                    <div class="row">
                   		 <div class="col-md-6 col-md-offset-3">
                            <div class=" form-group">
                 
                                <label for="inputId" class="col-sm-2 control-label">Username:</label> 
                                <div class="col-sm-10">
                                        <input type="text" name="Id_user" class="form-control" placeholder="เช่น mayuree123" id="id" autofocus required>
                                </div>
                                <p class="help-block"></p>
                            

                            
    									<label for="inputPassword" class="col-sm-2 control-label">Password:</label>
   										 <div class="col-sm-10">
     									 <input type="password" name="Pa_user" class="form-control" id="password" placeholder="รหัสผ่าน">
    									</div>
  							</div>
                           
                            <div class="form-group">     
                                    
                                        <label>ชื่อ</label>
                                            <input class="form-control" name="Fname_user" placeholder="ชื่อจริง"  required>
                            </div>
                            <div class="form-group">
                                    <label>นามสกุล</label>
                                        <input class="form-control" name="Lname_user" placeholder="นามสกุล"  required>
                                
                                    
                            </div>
                            <div class="form-inline">
                                <label>เพศ</label>
                                <div class="radio">
                                    <label>                                       
                                         <input type="radio" name="gender" id="gender0" value="0" required >ชาย
                                    </label>
                                </div>
                            	<div class="radio">
                                    <label>
                                         <input type="radio" name="gender" id="gender1" value="1" required>หญิง
                                    </label>
                                </div>
                            </div>
                               
                             <div class="form-group">
                                     <div class="form-inline">
                                        <label>วันเกิด</label>
            					        <input  type="text"  class="form-control"  name="datebird" id="datebird"  >
                                
                                            <label>ปีที่เข้าร่วม อสม.</label>
            					           <input  type="number"  class="form-control" name="datejoin"  max="3000" min="2500">                   
                                     </div>
                            </div>
                           
                          <div class="form-group">
                             <div class="form-inline">
                             
                           
							<label>บ้านเลขที่</label><input type="text" class="form-control" name="numberaddress" placeholder="บ้านเลขที่" required>
							<label>หมู่ที่</label> <select class="form-control" name="moo" >
                                    	<option value="0">โปรดเลือก</option>
                                        <option value="1">1:เชิงดอย</option>
                                        <option value="2">2:ห้วยแก้ว</option>
                                        <option value="3">3:กองบิน41</option>
                                        <option value="4">4:ห้วยทราย</option>
                                         <option value="5">5:ร่ำเปิง</option>
                                         <option value="6">6:โป่งน้อย</option>
                                         <option value="7">7:ช่างทอง</option>
                                         <option value="8">8:หลิ่งห้า</option>
                                         <option value="9">9:ดอยสุเทพ</option>
                                         <option value="10">10:อุโมงค์</option>
                                         <option value="11">11:ดอยปุย</option>
                                         <option value="12">12:ภูพิงค์</option>
                                         <option value="13">13:สันลมจอย</option>
                                         <option value="14">14:ใหม่หลังมอ</option>
                                         <option value="15">15:ทรายคำ</option>
                                         
                                    </select>                       
                                                        
                             </div>
                        </div>
                        <div class="form-group">
                           
                                <label>ถนน</label><input type="text" name="road" class="form-control">
                        <div>
                        <div class="form-group">
                                <label>ซอย</label><input type="text" name="soi" class="form-control">
                        </div>
                        
                        <div class="form-group">
                            <label>บทบาทตำแหน่งหน้าที่ในชมรม อสม. ระดับหมู่บ้าน</label><input type="text" name="lv1" class="form-control">
                             <label>บทบาทตำแหน่งหน้าที่ในชมรม อสม. ระดับตำบล</label><input type="text" name="lv2" class="form-control">
                             <label>บทบาทตำแหน่งหน้าที่ในชุมชน นอกจาก อสม. ได้แก่</label><textarea rows="3" name="etc" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                           <label>เบอร์โทรศัพท์</label><input type="text" class="form-control" pattern="[0-9]{10}">
                           
                        </div>




                           
                                  
                   		
                            <button type="submit" class="btn btn-default">ยืนยันข้อมูล</button>
                            <button type="reset" class="btn btn-default">ล้างข้อมูล</button>

                        </form>
                        </div>
                     </div>

                </div>
            </div>
                <!-- /.row -->

        
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>



  



<link rel="stylesheet" href="js/jquery.datetimepicker.css">

 
<link rel="stylesheet" href="http://localhost/project/js/jquery.datetimepicker.css">

 
</body>
<script src="http://localhost/project/build/jquery.datetimepicker.full.min.js"></script>  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>  -->
<script src="http://localhost/project/js/jquery.datetimepicker.js"></script>
</html>
